
loans/.mvn/wrapper/maven-wrapper.jar
loans/.mvn/wrapper/maven-wrapper.jar
loans/mvnw.cmd
loans/mvnw
loans/.mvn/wrapper/maven-wrapper.jar
loans/.mvn/wrapper/maven-wrapper.properties
TautologyExample/.classpath
TautologyExample/.project
TautologyExample/.settings/org.eclipse.jdt.core.prefs
loans/.mvn/wrapper/maven-wrapper.jar
